// COLORS
$primary-color: #2c3e50;
$secondary-color: #34495e;
// $primary-color: #1f1c2c;
// $secondary-color: #928dab;

$white-color: #fff;

$dark-grey:#8e44ad;
$light-grey: #9b59b6;

$dark-blue-text:#1abc9c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
